/*  Common shared styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/*  nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800 ;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}
nav a{
    text-decoration: none;
    color: black   ;
}

/* Header related styles */

.header{
    background-color: antiquewhite;
}

.bannar{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.bannar .profile-picture{
    width: 500px;
}